{
  "image_configuration": {
    "dither_algorithm": "0",
    "alpha_dither": "no",
    "layout_rotation": "90",
    "opaque_image_format": "ABGR2222",
    "nonopaque_image_format": "ABGR2222",
    "l8_compression": "no",
    "section": "IntFlashSection",
    "extra_section": "IntFlashSection",
    "images": {},
    "rgb_compression": "no"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "8",
    "font_format": "0",
    "cache_size": 4096,
    "copy_translations_to_ram": "no"
  }
}